@model ProbbySocialNetwork.Models.ViewModels.ChatListViewModel

@{    
    ViewBag.Title = "Chats";
}

<div class="container">
    <div class="lhsNav">
        <div class="peopleToChat">
            <h2>Chats:</h2>
            <div class="peopleToChat-list">
                @using ProbbySocialNetwork.Models
                <ul>
                    @foreach (ApplicationUser a in Model.usersChattingWith)
                    {
                        <li>
                            @Html.ActionLink(a.UserName.ToString(), "Index", "Chat", new { username = a.UserName }, null)
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="createNewChat">
            <h2>Create new chats:</h2>
            <div class="createNewChat-list">
                <ul>
                    @foreach (ApplicationUser a in Model.availableChatUsers)
                    {
                        if (!Model.usersChattingWith.Contains(a))
                        {
                            <li>
                                @Html.ActionLink("Chat with " + a.UserName.ToString(), "CreateChat", "Chat", new { username = a.UserName }, null)
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>