@model ProbbySocialNetwork.Models.ViewModels.FeedViewModel  

<div class="status">
    <h4>Create Status</h4>
    @using (Html.BeginForm("CreateStatus", "Status", FormMethod.Post, new { id = "statusForm" }))
    {
        <input type="hidden" name="UserID" value="@Model.currentUser.Id" />
        <input type="hidden" name="groupID" value="" />
        <input type="hidden" name="PostedToID" value="@Model.currentUserProfile.Id" />
        <div class="form-horizontal">
            <label class="sr-only" for="statusText">Status</label>
            <textarea class="form-control" rows="4" id="statusText" name="statusText"></textarea>

            <div class="appendTo"></div>

            <button type="submit" class="btn btn-primary">Post</button>
        </div>
        @Html.ValidationSummary(false)
    }
    <button class="onClick">Upload image</button>
</div>





