@{
    ViewBag.Title = "About Probby";
    Layout = "~/Views/Shared/_UnauthorizedLayout.cshtml";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>
    <p class="aboutDescription">
        This website was built for a three week course in Reykjavik University where the goal was to create a social media website. 
        Our idea was to create a foundation for people to promote their hobbies and establish relationship with people that 
        have the same or similar interests. People can follow other people, join groups and discover content under specific hobby tags.
    </p>
    <h3>Creators</h3>
    <ul>
        <li>Bjartur Hafþórsson</li>
        <li>Eyþór Snær Tryggvason</li>
        <li>Helena Júlíusdóttir</li>
        <li>Orri Guðlaugur Jónsson</li>
        <li>Quang Nguyen</li>
        <li>Dabs</li>
    </ul>
</div>
