@model ProbbySocialNetwork.Models.ViewModels.FeedViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>Dem feed</h2>
<div class="container">
    <div class="lhsNav">
        <img src="http://fc06.deviantart.net/fs49/f/2009/220/b/0/Spongebob_4_150x150_PNG_by_somemilk.png">
        <p>@Model.currentUser.UserName</p>
        <ul>
            <li>group 1</li>
            <li>group 2</li>
            <li>group 3</li>
            <li>group 4</li>
        </ul>
    </div>
    <div class="feedContent">
        <!--breyta i html helper-->
        <input type="text" />
        <p>foreach user do show status and stuff</p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}