@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Probby</h1>
    <p class="lead">Probby is a social network which helps people promote their hobbies, and connect with others with similar interests</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Goals</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec eget turpis ullamcorper, ultricies leo vitae, pretium ante.
            Donec hendrerit nulla faucibus augue pellentesque hendrerit.
            Nam efficitur cursus ligula, eu gravida neque condimentum eu.
            Vivamus hendrerit auctor risus et dictum. In posuere ac odio at lobortis.
            Aliquam a aliquam nisl. Nunc nec nisi a sem ultricies consequat id quis diam.
            Etiam leo purus, blandit at sodales nec, laoreet nec eros.
            Nulla sed dapibus eros, id faucibus lectus. 
            Proin rhoncus sagittis odio, eget ultrices quam pellentesque et.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Something</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec eget turpis ullamcorper, ultricies leo vitae, pretium ante.
            Donec hendrerit nulla faucibus augue pellentesque hendrerit.
            Nam efficitur cursus ligula, eu gravida neque condimentum eu.
            Vivamus hendrerit auctor risus et dictum. In posuere ac odio at lobortis.
            Aliquam a aliquam nisl. Nunc nec nisi a sem ultricies consequat id quis diam.
            Etiam leo purus, blandit at sodales nec, laoreet nec eros.
            Nulla sed dapibus eros, id faucibus lectus.
            Proin rhoncus sagittis odio, eget ultrices quam pellentesque et.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Something else</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec eget turpis ullamcorper, ultricies leo vitae, pretium ante.
            Donec hendrerit nulla faucibus augue pellentesque hendrerit.
            Nam efficitur cursus ligula, eu gravida neque condimentum eu.
            Vivamus hendrerit auctor risus et dictum. In posuere ac odio at lobortis.
            Aliquam a aliquam nisl. Nunc nec nisi a sem ultricies consequat id quis diam.
            Etiam leo purus, blandit at sodales nec, laoreet nec eros.
            Nulla sed dapibus eros, id faucibus lectus.
            Proin rhoncus sagittis odio, eget ultrices quam pellentesque et.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>