@{
    ViewBag.Title = "Home Page";
}

<table>
    <tr>
        <td><img src="http://newsbote.com/wp-content/uploads/2011/04/wolverine-origins-jackman-300x200.jpg"></td>
        <td><img src="http://newsbote.com/wp-content/uploads/2011/04/wolverine-origins-jackman-300x200.jpg"></td>
        <td><img src="http://newsbote.com/wp-content/uploads/2011/04/wolverine-origins-jackman-300x200.jpg"></td>
    </tr>
    <tr>
        <td><img src="http://newsbote.com/wp-content/uploads/2011/04/wolverine-origins-jackman-300x200.jpg"></td>
        <td><img src="http://newsbote.com/wp-content/uploads/2011/04/wolverine-origins-jackman-300x200.jpg"></td>
        <td><img src="http://newsbote.com/wp-content/uploads/2011/04/wolverine-origins-jackman-300x200.jpg"></td>
    </tr>
    <tr>
        <td><img src="http://newsbote.com/wp-content/uploads/2011/04/wolverine-origins-jackman-300x200.jpg"></td>
        <td><img src="http://newsbote.com/wp-content/uploads/2011/04/wolverine-origins-jackman-300x200.jpg"></td>
        <td><img src="http://newsbote.com/wp-content/uploads/2011/04/wolverine-origins-jackman-300x200.jpg"></td>

    </tr>
</table>