@model ProbbySocialNetwork.Models.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<h2>
    @Model.currentUser.UserName's Profile
</h2>

@using ProbbySocialNetwork.Models
@foreach(Status s in Model.currentUserStatusHistory) 
{
    <h3>
        @s.Date
    </h3>
    <p>
        @s.Post
    </p>
}
