@model ProbbySocialNetwork.Models.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Search";
}
@using ProbbySocialNetwork.Models
<h2>Search results:</h2>
<div id="content-container">
    <div id="content-container-users">
        @if (Model.userSearchResults.Count != 0)
        {
            <h3 class="searchResultTitle">
                Users:
            </h3>
            <div id="user-results">
                @foreach (ApplicationUser a in Model.userSearchResults)
                {   
                    <img src="@a.ProfilePic" class="searchResultPic" />
                    <a href="/Home/Profile?username=@a.UserName" id="nameText">@a.UserName</a><br />
                    
                }
            </div>
        }
    </div>

    <div id="content-container-hobbies">
        @if (Model.hobbySearchResults.Count != 0)
        {
            <h3 class="searchResultTitle">
                Hobbies:
            </h3>
            <div id="hobby-results">
                @foreach (Hobby h in Model.hobbySearchResults)
                {
                    <a href="/Hobby/Index/@h.ID?Name=@h.Name" id="hobbyText">@h.Name</a><br />
                }
            </div>
        }
    </div>
    <div id="content-container-groups">
        @if (Model.groupSearchResults.Count != 0)
        {
            <h3 class="searchResultTitle">
                Groups:
            </h3>
            <div id="user-results">
                @foreach (Group g in Model.groupSearchResults)
                {
                    <a href="/Group/Index/@g.ID?Name=@g.name" id="groupText">@g.Name</a><br />
                }
            </div>
        }
    </div>
</div>